<h1>Welcome to Andy's CRM</h1>

<% unless current_user %>
  please sign in to view your portfolio
<% end %>

<% if current_user %>
  <%= link_to "Leads", leads_path %>
  </br>
  <%= link_to "Follow Up" %>
  </br>
  <%= link_to "Not Interested", not_interested_index_path %>
  </br>
<% end %>
